spring:
  datasource:
    url: jdbc:mysql://mysql:3310/guestbook?useSSL=false&serverTimezone=Asia/Seoul
    username: root
    password: root1234
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  thymeleaf:
    cache: false
server:
  port: 8888